<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" />
    </ion-buttons>
    <ion-title class="title-text-animation">{{ pokemon?.name | titlecase }}</ion-title>

    <!-- botão favorito -->
     <ion-button slot="end" (click)="toggleFavorite()">
      <ion-icon [name]="isFav ? 'heart' : 'heart-outline'"></ion-icon>
     </ion-button>

    <!-- toggle de tema -->
    <app-theme-toggle class="theme-icon" slot="end"></app-theme-toggle>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div *ngIf="pokemon; else loading" class="ion-padding">
    <div class="image-container">
      <ion-img class="ion-img" [src]="pokemon.sprites. other['official-artwork'].front_default" />
    </div>
    <ion-list>
      <ion-item>
        <ion-label class="font-size-2vw-and-bold">Altura:</ion-label>
        <ion-note class="detail-info" slot="end">{{ pokemon.height }}</ion-note>
      </ion-item>
      <ion-item>
        <ion-label class="font-size-2vw-and-bold">Peso:</ion-label>
        <ion-note class="detail-info" slot="end">{{ pokemon.weight }}</ion-note>
      </ion-item>
      <ion-item>
        <ion-item *ngFor="let t of pokemon.types">
          <ion-label class="font-size-2vw-and-bold">Tipo:</ion-label>
          <ion-note class="detail-info" slot="end">{{ t.type.name}}</ion-note>
        </ion-item>
        <!-- Adicionando mais 3 itens para completar as 6 descrições -->
      </ion-item>
    </ion-list>
  </div>

  <ng-template #loading>
    <ion-spinner name="crescent"></ion-spinner>
  </ng-template>
</ion-content>
