<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>favorites</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item *ngFor="let p of pagedPokemons">
      <app-pokemon-card [pokemon]="p"></app-pokemon-card>
    </ion-item>
  </ion-list>

  <ion-footer *nfIf="totalPages > 1">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button (click)="prev()" [disabled]="page === 1">Anterior</ion-button>
      </ion-buttons>
      <ion-title>Página {{ page }} / {{ totalPages }}</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="next()" [disabled]="page === totalPages">Próximo</ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-footer>
</ion-content>
