<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="title-text-animation">
      Pokédex
    </ion-title>
    <app-theme-toggle class="theme-icon" slot="end"></app-theme-toggle>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <!-- Itera sobre o array que vem do service -->
     <ion-item
      button
      *ngFor="let p of pokemons"
      [routerLink]="['/detail', p.name]"
     >
      <ion-thumbnail slot="start">
        <!-- Imagem do Pokémon -->
         <img [src]="
         'https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/' +
         (p.url.split('/')[-2] || extractId(p.url))+'.png'
         "
         alt="{{ p.name }}" />
      </ion-thumbnail>
      <ion-label>
        {{ p.name | titlecase }}
      </ion-label>
     </ion-item>
  </ion-list>

  <!-- Rodapé com paginação -->
   <ion-footer>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button
        [disabled]="!previous"
        (click)="loadPage(previous)"
        >
        <ion-icon name="arrow-back"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-button
        [disabled]="!next"
        (click)="loadPage(next)"
        >
        <ion-icon name="arrow-forward"></ion-icon>
      </ion-button>
      </ion-buttons>
    </ion-toolbar>
   </ion-footer>
</ion-content>
